
<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">

	<style>
	{{{css}}}
	</style>

	</head>
	<body>

		{{#resume}}
		<div class="resume">

			<header class="header">
				<h1 class="header__name">{{basics.name}}</h1>
				<h2 class="header__title">{{basics.label}}</h2>
			</header>

			<main class="sections__main">

				<section class="section section--summary">
					<div class="section__body">

						<h3 class="section__title">Summary</h3>

						{{#if basics.summary}}
						<div class="section__summary">
							{{{basics.summary}}}
						</div>
						{{/if}}
					</div>
				</section>





				{{#if profiles.length}}
				<section class="section section--profiles">
					<div class="section__body">

						<h3 class="section__title">Profiles</h3>


							{{#each profiles}}
							<div class="section__subsection">
								{{#if network}}
								<div class="section__detail">
									{{network}}
								</div>
								{{/if}}

								{{#if username}}
								<div class="section__detail">
									{{username}}
								</div>
								{{/if}}

								{{#if url}}
								<div class="section__detail">
									<a class="section__link" href="{{url}}">Link</a>
								</div>
								{{/if}}
							</div>


							{{/each}}
					</div>
				</section>
				{{/if}}

				{{#if work.length}}
				<section class="section section--work">
					<div class="section__body">

						<h3 class="section__title">Work</h3>

						{{#each work}}
						<div class="section__subsection">

							{{#if position}}
							<h4 class="section__subtitle">
								{{position}}
							</h4>
							{{/if}}

							{{#if company}}
							<h5 class="section__subtitle">
								{{#if website}}
								<a class="section__link" target="_blank" href="{{website}}">{{company}}</a>
								{{else}}
								{{company}}
								{{/if}}
							</h5>
							{{/if}}

							<div class="section__detail">
								{{#if startDate}}
								<span class="section__date">
									{{startDate}}
								</span>
								{{/if}}
								{{#if endDate}}
								<span class="section__date">
									- {{endDate}}
								</span>
								{{else}}
								<span class="section__date">
									- Present
								</span>
								{{/if}}
							</div>

							{{#if summary}}
							<div class="section__summary">
								<p>{{summary}}</p>
							</div>
							{{/if}}
							{{#if highlights.length}}
							<ul class="section__list">
								{{#each highlights}}
								<li class="section__item">{{.}}</li>
								{{/each}}
							</ul>
							{{/if}}
						</div>
						{{/each}}

					</div>
				</section>
				{{/if}}

				{{#if volunteer.length}}
				<section class="section section--volunteer">
					<div class="section__body">

						<h3 class="section__title">Volunteer</h3>

						{{#each volunteer}}
						<div class="section__subsection">

							{{#if company}}
							<h4 class="section__subtitle">
								{{position}}
							</h4>
							{{/if}}

							{{#if organization}}
							<h5 class="section__subtitle">
								{{organization}}
							</h4>
							{{/if}}

							<div class="section__detail">
								{{#if startDate}}
								<span class="section__date">
									{{startDate}}
								</span>
								{{/if}}
								{{#if endDate}}
								<span class="section__date">
									- {{endDate}}
								</span>
								{{else}}
								<span class="section__date">
									- Present
								</span>
								{{/if}}
							</div>
							{{#if website}}
							<div class="section__detail">
								<a class="section__link" href="{{website}}">{{website}}</a>
							</div>
							{{/if}}
							{{#if summary}}
							<div class="section__summary">
								<p>{{summary}}</p>
							</div>
							{{/if}}
							{{#if highlights.length}}
							<ul class="section__list">
								{{#each highlights}}
								<li class="section__item">{{.}}</li>
								{{/each}}
							</ul>
							{{/if}}
						</div>
						{{/each}}
					</div>
				</section>
				{{/if}}

			</main>

			<aside class="sections__aside">
				<section class="section section--contact">
					<div class="section__body">

						<h3 class="section__title">Contact</h3>

						{{#if basics.website}}
						<div class="section__details">
							<label class="section__label">Website</label>
							<a class="section__link" href="{{basics.website}}" target="_blank">
								{{basics.website}}
							</a>
						</div>
						{{/if}}

						{{#if basics.email}}
						<div class="section__detail">
							<label class="section__label">Email</label>
							{{basics.email}}
						</div>
						{{/if}}

						{{#if basics.phone}}
						<div class="section__detail">
							<label class="section__label">Phone</label>
							{{basics.phone}}
						</div>
						{{/if}}

						{{#basics.location}}
						{{#if address}}
						<div class="section__detail">
							<label class="section__label">Address</label>
							{{#if address}}{{address}}<br />{{/if}}
							{{#if city}}{{city}}<br />{{/if}}
							{{#if region}}{{region}}<br />{{/if}}
							{{#if postalCode}}{{postalCode}}<br />{{/if}}
							{{#if countryCode}}{{countryCode}}<br />{{/if}}
						</div>
						{{/if}}
						{{/basics.location}}

					</div>
				</section>

				{{#if education.length}}
				<section class="section section--education">
					<div class="section__body">

						<h3 class="section__title">Education</h3>
						{{#each education}}
						<div class="section__subsection">
							{{#if institution}}
							<h4 class="section__subtitle">
								{{institution}}
							</h4>
							{{/if}}
							<div class="section__detail">
								{{#if startDate}}
								<span class="section__date">
									{{startDate}}
								</span>
								{{/if}}
								{{#if endDate}}
								<span class="section__date">
									- {{endDate}}
								</span>
								{{else}}
								<span class="section__date">
									- Present
								</span>
								{{/if}}
							</div>
							{{#if area}}
							<div class="section__detail">
								{{area}}
							</div>
							{{/if}}
							{{#if studyType}}
							<div class="section__detail">
								{{studyType}}
							</div>
							{{/if}}
							{{#if gpa}}
							<div class="section__detail">
								GPA: {{gpa}}
							</div>
							{{/if}}
							{{#if courses.length}}
							<ul class="section__list">
								{{#each courses}}
								<li class="section__item">{{.}}</li>
								{{/each}}
							</ul>
							{{/if}}
						</div>
						{{/each}}

					</div>
				</section>
				{{/if}}

				{{#if awards.length}}
				<section class="section section--awards">
					<div class="section__body">

						<h3 class="section__title">Awards</h3>

						{{#each awards}}
						<div class="section__subsection">
							{{#if title}}
							<h4 class="section__subtitle">
								{{title}}
							</h4>
							{{/if}}
							{{#if date}}
							<div class="section__date">
								{{date}}
							</div>
							{{/if}}
							{{#if awarder}}
							<div class="section__detail">
								{{awarder}}
							</div>
							{{/if}}
							{{#if summary}}
							<div class="section__summary">
								<p>{{summary}}</p>
							</div>
							{{/if}}
						</div>
						{{/each}}

					</div>
				</section>
				{{/if}}

				{{#if publications.length}}
				<section class="section section--publications">
					<div class="section__body">

						<h3 class="section__title">Publications</h3>

						{{#each publications}}
						<div class="section__subsection">
							{{#if name}}
							<h4 class="section__subtitle">
								{{name}}
							</h4>
							{{/if}}
							{{#if publisher}}
							<h5 class="section__subtitle">
								{{publisher}}
							</h5>
							{{/if}}
							{{#if releaseDate}}
							<div class="section__date">
								{{releaseDate}}
							</div>
							{{/if}}
							{{#if website}}
								<a class="section__link" target="_blank" href="{{website}}">{{website}}</a>
							{{/if}}
							{{#if summary}}
							<div class="section__summary">
								<p>{{summary}}</p>
							</div>
							{{/if}}
						</div>
						{{/each}}

					</div>
				</section>
				{{/if}}

				{{#if skills.length}}
				<section class="section section--skills">
					<div class="section__body">

						<h3 class="section__title">Skills</h3>

						{{#each skills}}
						<div class="section__subsection">
							{{#if name}}
							<h4 class="section__subtitle">
								{{name}}
							</h4>
							{{/if}}
							{{#if level}}
							<div class="section__level">
								<em>{{level}}</em>
							</div>
							{{/if}}
							{{#if keywords.length}}
							<ul class="section__list">
								{{#each keywords}}
								<li class="section__item">{{.}}</li>
								{{/each}}
							</ul>
							{{/if}}
						</div>
						{{/each}}

					</div>
				</section>
				{{/if}}

				{{#if languages.length}}
				<section class="section section--languages">
					<div class="section__body">

						<h3 class="section__title">Languages</h3>

						<div class="section__tags">
							{{#each languages}}
							<div class="section__tag">
								{{#if language}}
								<h4 class="section__category">
									{{language}}
								</h4>
								{{/if}}
								{{#if fluency}}
								<div class="section__level">
									{{fluency}}
								</div>
								{{/if}}
							</div>
							{{/each}}
						</div>

					</div>
				</section>
				{{/if}}

				{{#if interests.length}}
				<section class="section section--interests">
					<div class="section__body">

						<h3 class="section__title">Interests</h3>

						{{#each interests}}
						<div class="section__subsection">
							{{#if name}}
							<h4 class="section__subtitle">
								{{name}}
							</h4>
							{{/if}}
							{{#if keywords.length}}
							<ul class="section__list">
								{{#each keywords}}
								<li class="section__item">{{.}}</li>
								{{/each}}
							</ul>
							{{/if}}
						</div>
						{{/each}}

					</div>
				</section>
				{{/if}}

				{{#if references.length}}
				<section class="section section--references">
					<div class="section__body">

						<h3 class="section__title">References</h3>
						{{#each references}}
						<div class="section__subsection">
							{{#if reference}}
							<blockquote class="section__quote">
								{{reference}}
							</blockquote>
							{{/if}}
							{{#if name}}
							<h4 class="section__subtitle">
								— {{name}}
							</h4>
							{{/if}}
						</div>
						{{/each}}
					</div>
				</section>
				{{/if}}

			</aside>

		</div>
	</body>
</html>
{{/resume}}